@model IEnumerable<DataLayer.Entities.Speciality>


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<p>
		<a asp-action="Create" class="functional-button">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						<a class="functional-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a class="functional-button" asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a class="functional-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
						@Html.ActionLink("Groups", "Index", "Groups", new { Id = item.Id }, new { @class = "functional-button" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>
